body {
/*   font-family:verdana;*/
	font: 12px/18px "Lucida Grande","Lucida Sans Unicode", sans-serif; 
	color:#0066cc;
/*   font-size:14pt;
   font-weight:bold;*/
	background-color:#ffe699;
}

#blueBack {background-color:#c1d4cc}